{% extends 'base.html' %}
{%load static%}
{% block htmlhead%}
<meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <link rel="stylesheet" href="{% static 'css/other.css'%}" />
{%endblock htmlhead%}
{% block content %}
<div class="wrapper d-flex align-items-stretch">
  {% comment %} <nav id="sidebar">
    <div class="p-4 pt-5">
      <a
        href="#"
        class="img logo rounded-circle mb-5"
        style="background-image: url(images/logo.jpg)"
      ></a>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a href="./profindex.html">Professor Home</a>
        </li>
        <li>
          <!-- <a href="#">Create exam</a> -->
          <a href="#" data-target="#login" data-toggle="modal"
            >Create exam</a
          >
        </li>
        <li>
          <a href="./phistory.html">Previous held exams</a>
        </li>
      </ul>
    </div>
  </nav> {% endcomment %}

  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">
    {% comment %} <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
        <button
          class="btn btn-primary d-inline-block d-lg-none ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Professor Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Log-Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> {% endcomment %}
    <br><br><br><br>
    <h2 class="mb-4">Welcome, {{ student_name }}</h2>
    <h2>Upcoming Exams</h2>
      <!-- Display the list of upcoming exams here -->
      {% if upcoming_exams %}
        <ul>
          {% for exam in upcoming_exams %}
            <li>{{ exam.name }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>There are no upcoming exams.</p>
      {% endif %}

      <hr>
      <h2>Start Exam</h2>
    <div class="d-flex justify-content-center">
      <form method="POST" action="{% url 'student_exam' %}">
        {% csrf_token %}
        <label for="exam_id">Exam ID:</label>
        <input type="text" id="exam_id" name="exam_id" required>
        <button class="btn btn-primary btn-sm" type="submit">Start this exam</button>
      </form>
      {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      
      
    </div>
    
    <hr>
    <div class="d-flex justify-content-center">
      <a href="{% url 'logout' %}" class="nav-link">Logout</a>
  </div>
    
  </div>
</div>


{% comment %} <div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button data-dismiss="modal" class="close">&times;</button>
        <h4>Create Exam</h4>
        <form>
          <input
            type="text"
            name="Exam id"
            class="username form-control"
            placeholder="Exam id"
          />
          <input
            type="password"
            name="password"
            class="password form-control"
            placeholder="password"
          />
          <label class="form-label" for="customFile" style="color: black; font-size: large;"
            >Upload Exam Paper</label
          >
          <input type="file" class="form-control" id="customFile" style="margin-top: 0px;" />
          <input
            class="btn btn-primary btn-lg"
            type="submit"
            value="Submit"
          />
        </form>
      </div>
    </div>
  </div>
</div> {% endcomment %}

<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{%static 'js/popper.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script>
<script src="{%static 'js/main.js'%}"></script>
{% endblock %}
