<html>
<head><title>Signup Here</title></head>

<body>
<form action="/signup" method="post">
    {% csrf_token %}
    <h1>Sign Up Form</h1>
    <label>Username</label><br>
    <input type="text" name="username" id="username"><br>
    <label>password</label><br>
    <input type="password" name="password" id="password"><br><br>
    <button type="submit">Submit</button>
</form>

<form action="/login" method="post">
    {% csrf_token %}
    <h1>Login Form</h1>
    <label>Username</label><br>
    <input type="text" name="loginusername" id="loginusername"><br>
    <label>password</label><br>
    <input type="password" name="loginpassword" id="loginpassword"><br><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>